<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}] ${message}"/>
  <arg name="sensor_type" default="lidar"/>
  <arg name="use_pcd_map" default="false"/>
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="0.3"/>
  <arg name="init_yaw" default="0.0"/>

  <param name="robot_description" textfile="$(find go2_description)/urdf/go2_description.urdf"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="go2_robot_state_publisher" output="screen"/>
  <node pkg="scan_planner_dmq" type="go2_kinematic_sim_dmq"
        name="go2_kinematic_sim" output="screen">
    <param name="init_yaw" value="$(arg init_yaw)"/>
  </node>
  <node pkg="scan_planner_dmq" type="go2_gait_publisher_dmq"
        name="go2_gait_publisher" output="screen"/>

  <include file="$(find scan_planner_dmq)/launch/simulator.xml">
    <arg name="is_real_world" value="false"/>
    <arg name="sensor_type" value="$(arg sensor_type)"/>
    <arg name="use_pcd_map" value="$(arg use_pcd_map)"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
  </include>

  <include file="$(find scan_planner_dmq)/launch/native_scan_takeover.launch"/>

  <node pkg="navdog_runtime" type="cmd_vel_owner_mux"
        name="cmd_vel_owner_mux" output="screen">
    <param name="route_cmd_timeout" value="0.30"/>
    <param name="scan_cmd_timeout" value="0.30"/>
    <param name="mode_sync_grace_sec" value="0.10"/>
    <param name="scan_handoff_hold_sec" value="0.10"/>
    <param name="handoff_accel_x" value="0.50"/>
    <param name="handoff_decel_x" value="0.80"/>
    <param name="handoff_accel_y" value="0.25"/>
    <param name="handoff_decel_y" value="0.50"/>
    <param name="handoff_accel_yaw" value="0.80"/>
    <param name="handoff_decel_yaw" value="1.20"/>
  </node>

  <node pkg="navdog_runtime" type="navdog_runtime_node"
        name="navdog_runtime" output="screen">
    <rosparam command="load" file="$(find navdog_runtime)/config/navdog_sim.yaml"/>
    <remap from="/grid_map/body_pose" to="/quad_0/body_pose"/>
    <remap from="/grid_map/sensor_pose" to="/quad_0/lidar_pose"/>
    <remap from="/grid_map/cloud" to="/pcl_render_node/cloud"/>
  </node>
</launch>
