<launch>
  <arg name="body_pose_topic" default="/quad_0/body_pose"/>
  <arg name="sensor_pose_topic" default="/quad_0/lidar_pose"/>
  <arg name="cloud_topic" default="/pcl_render_node/cloud"/>

  <!-- The upstream FSM/controller still read this legacy global parameter. -->
  <param name="/body_pose_topic" value="$(arg body_pose_topic)" type="str"/>

  <group ns="native_scan">
    <remap from="/initial_path" to="/native_scan/initial_path"/>
    <remap from="/planning/bspline" to="/native_scan/planning/bspline"/>
    <remap from="/planning/data_display" to="/native_scan/planning/data_display"/>
    <remap from="/planning/go2_execution_frozen"
           to="/native_scan/planning/go2_execution_frozen"/>
    <remap from="/grid_map/occupancy" to="/native_scan/grid_map/occupancy"/>
    <remap from="/grid_map/occupancy_inflate"
           to="/native_scan/grid_map/occupancy_inflate"/>
    <remap from="/grid_map/sliding_map_bbox"
           to="/native_scan/grid_map/sliding_map_bbox"/>
    <remap from="/grid_map/unknown" to="/native_scan/grid_map/unknown"/>
    <remap from="/grid_map/depth_cloud" to="/native_scan/grid_map/depth_cloud"/>
    <remap from="/grid_map/sensor_pose_extrinsic"
           to="/native_scan/grid_map/sensor_pose_extrinsic"/>

    <include file="$(find scan_planner_dmq)/launch/advanced_param.xml">
      <arg name="is_real_world" value="false"/>
      <arg name="navi_mode" value="3"/>
      <arg name="sensor_type" value="lidar"/>
      <arg name="body_pose_topic" value="$(arg body_pose_topic)"/>
      <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
      <arg name="cloud_topic" value="$(arg cloud_topic)"/>
      <arg name="cloud_is_world" value="true"/>
      <arg name="depth_topic" value="/pcl_render_node/depth"/>
      <arg name="cx" value="321.04638671875"/>
      <arg name="cy" value="243.44969177246094"/>
      <arg name="fx" value="387.229248046875"/>
      <arg name="fy" value="387.229248046875"/>
      <arg name="max_vel" value="0.22"/>
      <arg name="planning_horizon" value="3.0"/>
    </include>

    <!-- Override FSM defaults for native SCAN takeover. -->
    <param name="fsm/planning_horizon" value="3.0" type="double"/>
    <param name="fsm/max_replan_fail_count" value="30" type="int"/>
    <param name="fsm/replan_retry_interval_sec" value="0.20" type="double"/>
    <param name="fsm/escape_min_radius" value="0.5" type="double"/>
    <param name="fsm/escape_max_radius" value="2.5" type="double"/>
    <param name="fsm/escape_radius_step" value="0.25" type="double"/>
    <param name="fsm/escape_max_lateral_from_route" value="1.6" type="double"/>

    <node pkg="scan_planner_dmq" type="closed_loop_controller_dmq"
          name="closed_loop_controller" output="screen">
      <param name="max_vx" value="0.22"/>
      <param name="max_vy" value="0.18"/>
      <param name="max_vyaw" value="0.65"/>
      <param name="time_forward" value="0.8"/>
      <param name="heading_error_threshold" value="0.65"/>
      <param name="heading_resume_threshold" value="0.35"/>
      <param name="min_heading_speed_scale" value="0.35"/>
      <param name="kp_pos" value="0.70"/>
      <param name="kp_yaw" value="1.5"/>
      <param name="finish_dist" value="0.15"/>
    </node>
  </group>
</launch>
